@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    background: linear-gradient(-45deg, #39e5b6, #70b2d9, #96a7cf);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    font-family: 'Open Sans', sans-serif;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    
}

ul[class] {
    margin: 0;
    padding: 0;
}

ul[class] li {
    list-style: none;
    padding: 5px;
}

ul[class] li > * {
    margin: 1rem;
}

:focus {
    box-shadow: 0 0 0 0.25rem rebeccapurple;
    outline: 0;
}


.grid {
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense; 
    grid-template-columns: repeat(auto-fit, 20rem); 
    justify-content: center;
    width: 100vw;
    height: 70vh

}

.grid > * {
    align-items: flex-start;
    border: 1px solid lightblue;
    /* background: linear-gradient(315deg, #e5bdf6, #d8dede); ; */
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 100%;
}


.fullwidth {
    grid-column: 1 / -1;
}

.is-hidden {
    display: none;
}

.fullwidth,
.is-selected {
    background-color: #36669d;
background-image: linear-gradient(315deg, #36669d 0%, #d3d3d3 74%);

    
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 7px;
	font: inherit;
	cursor: pointer;
    background-color: transparent;
    border: 2px solid rgb(80, 79, 79);
    border-radius: 18px;
    color: rgb(80, 79, 79);
   
	
}
button:hover{
    border: 3.5px solid black;
    color: black;

}



